<div class="">

  <div class="closeBtn" (click)="close()">
    <div class="outer">
      <div class="inner">
        <label>Fermer</label>
      </div>
    </div>
  </div>

  <div class="row around-xs">
    <h2 class="crea-session-title uppercase">LES DIFFÉRENTS TYPES DE PROJETS</h2>
  </div>

  <div class="row center-xs col-xs-12 flex-row items-type-projet">


    <div class="col-xs-4 flex-column item-type-projet bg-blue">
      <h3>
        <b>APPEL À LA CRÉATION</b>
      </h3>
      <h3>Travailler avec plus de 100 créatifs</h3>
      <p>Selon votre budget, vous souhaitez piloter votre projet de la rédaction du brief à la sélection de la création. Notre
        équipe se charge de le soumettre à l’ensemble des créatifs sa communauté sous forme de compétition. Vous recevrez
        dans le délai prédéfini, plusieurs propositions créatives authentiques, parmi lesquelles vous choisirez celle qui
        répond le mieux à vos attentes.</p>
      <button (click)="nextStep(1)" type="button" class="crea-btn-default">Commencer</button>
    </div>

    <div class="col-xs-4 flex-column item-type-projet bg-blue-light">
      <h3>
        <b>CLASSIQUE+</b>
      </h3>
      <h3>Une équipe de créatifs dédiée</h3>
      <p>Le projet classique+ fonctionne comme un studio de création traditionnelle avec un plus : UNE EQUIPE DEDIEE. Selon
        la sensibilité et ou la récurrence de votre projet, Crea911 encadre votre projet en amont et se charge de vous dédier
        une équipe composée d’un Chef de projet, deux à trois créatifs de sa communauté, d’un Directeur Artistique pour y
        travailler en toute confidentialité.</p>
      <button (click)="nextStep(2)" type="button" class="crea-btn-default">Commencer</button>
    </div>

    <div class="col-xs-4 flex-column item-type-projet bg-blue-white">
      <h3>
        <b>PREMIUM CREA911</b>
      </h3>
      <h3>Optez pour un abonnement</h3>
      <p>L’abonnement PREMIUM CREA911 fonctionne sur la base d’un contrat à long terme entre les annonceurs ou les professionnels
        de la communication et Crea911. Il vous permet d’émettre vos besoins à temps voulus sur la base de votre stratégie
        marketing et de communication, de définir vos délais, de nous contacter 7j/7, et de ne payer qu’un forfait par mois.
        Une plateforme dynamique et une équipe permanente vous est dédiée pour travailler en toute confidentialité et efficacité
        sur vos projets.</p>
      <p>
        <b>
          Contactez-nous par téléphone : +225 58 45 99 99 /
          <a href="mailto:projet@crea911.net">projet@crea911.net</a>
        </b>
      </p>

    </div>


  </div>

  <div class="col-xs-12 center-xs">


  </div>
</div>
