<mat-card class="card-projet-creatif">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <hr>
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <hr>
  <mat-card-actions>
  <div class="flex-row">
    <div class="col-xs-2">
      <img src="assets/images/icons/ic_avatar.svg" alt="">
      <div class="div-particip">
        <span>{{projet.nombre_participants}}</span>
      </div>
    </div>
    <div class="col-xs-10">
      <button class="crea-btn-default">Je participe</button>
    </div>
  </div>

  </mat-card-actions>
</mat-card>
