<div #creaImg class="crea911-item-creation">
  <!-- div img-->
  <div   class="crea911-item-creation-div-img">
   
  </div>
  <!-- div overlay-->
  <div class="crea911-item-creation-overlay">
    <div class="crea911-item-creation-infos">
      <img #avatarImg src="assets/images/icons/ic_avatar_rounded.svg" alt="">
      <div class="crea911-item-creation-texte">
        <h4>{{creation.pseudo}}</h4>
        <span></span>
        <button (click)="openAddDialog()"  color="primary" mat-icon-button>
            <mat-icon>remove_red_eye</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
