<div class="flex-column container">
  <div class="">
    <div class="flex-column">
      <img src="assets/images/icons/alien.svg" alt="">
    </div>
    <div class="description">
      <p>Félicitations ! Votre nouveau compte a été créé avec succès ! Nous sommes heureux de vous accueillir sur CapsuleCafe.com ! Nous vous remercions de votre confiance.</p>
      <p class="bolder">Un mail de confirmation à été envoyé à votre adresse élèctronique</p>
    </div>
    <div class="crea-divider"></div>
    <div class="footer-dialog">
      <button (click)="onYesClick()" type="button" class="crea-btn-default">Continuer</button>
    </div>
  </div>
</div>
