<div class="row no-margin flex-column">
    <simple-notifications [options]="options"></simple-notifications>

  <!-- CONTENT -->
  <div class="row around-xs">
    <h2 class="crea-session-title uppercase"> Participation au projet</h2>
  </div>

  <div>
    <div class="row around-xs padding-1">
      <div class="row col-xs-12 ">
        <form [formGroup]="formParticipation" (ngSubmit)="sendForm()" class="col-xs-8">

          <div class="row">
            <div class="col-xs-6">
              <input type="text" class="form-control" id="nomEtPprenom" placeholder="Nom et prénom (automatique)" formControlName="nom">
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <input type="text" class="form-control" id="numeroTitreProjet" placeholder="Numéro et titre du projet (automatique)" formControlName="titreprojet">
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <textarea class="form-control" id="description" formControlName="description" rows="10" placeholder="description"></textarea>
            </div>
          </div>
          <div class="crea-divider"></div>
          <div class="col-xs-12 files-chooce">
              <div #fileContainerA class="item-chooce" (click)="chooseFile($event, 'A')">
                <input (change)="onFileChange($event)" type="file" class="fileItem" #fileInputA>
                <div class="flex-row">
                  <mat-icon svgIcon="trombone"></mat-icon>
                  <label for="">{{libellePieceA}}</label>
                </div>
              </div>
              <div #fileContainerB class="item-chooce" (click)="chooseFile($event, 'B')">
                <input (change)="onFileChange($event)" type="file" class="fileItem" #fileInputB>
                <div class="flex-row">
                  <mat-icon svgIcon="trombone"></mat-icon>
                  <label for="">{{libellePieceB}}</label>
                </div>
              </div>
              <div #fileContainerC class="item-chooce" (click)="chooseFile($event, 'C')">
                <input (change)="onFileChange($event)" type="file" class="fileItem" #fileInputC>
                <div class="flex-row">
                  <mat-icon svgIcon="trombone"></mat-icon>
                  <label for="">{{libellePieceC}}</label>
                </div>
              </div>
              <div #fileContainerD class="item-chooce" (click)="chooseFile($event, 'D')">
                <input (change)="onFileChange($event)" type="file" class="fileItem" #fileInputD>
                <div class="flex-row">
                  <mat-icon svgIcon="trombone"></mat-icon>
                  <label for="">{{libellePieceD}}</label>
                </div>
              </div>
            </div>
          <div class="crea-divider"></div>

          <div class="row around-xs crea-btns-actions">
           <!-- <button disabled class="crea-btn-default">Envoyer mes propositions plus tard</button>-->
            <button [disabled]="!formParticipation.valid" type="submit" class="crea-btn-default">Envoyer mes propositions maintenant</button>
          </div>

          <div class="center-xs">
            <p class="center-text">Où envoyer vos propositions créatives plus tard par mail : 
              <a href="#" class="bold-title">projet@crea911.net</a>
            </p>
          </div>

        </form>
      </div>
    </div>
  </div>
  <!-- FIN CONTENT -->
</div>
