.crea911-grid-creation {
  /*width: 100%;
  max-width: 100%;
  flex-basis: 100%;
  app-item-my-crea {
      margin: auto;
      margin-bottom: .8em;
      width: 20%;
  }*/
}

.app-add-crea {
  margin-bottom: .8em;
  margin-left: .8em;
  width: 19%;
  align-self: flex-start;
  height: 16em;
  background: rgb(243, 243, 243);
  padding: 1em;
  justify-content: center;
  align-items: center;
  .border-dashed {
    margin: auto;
    height: calc(100% - 3em);
    border: 5px #ccc dashed;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('/assets/images/icons/add_picture.svg');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    button {
      background: none;
      border: none;
      height: 100%;
      width: 100%;
    }
  }
}
