<div class="col-xs-12 col-lg-12 around-lg around-xs margin-top-6 flex-column padding-xy-1">
  <simple-notifications [options]="options"></simple-notifications>

  <div class="col-xs-8 around-xs flex-row title-barre">
    <h2 class="crea-session-title uppercase">notre communauté des créatifs c911</h2>
  </div>

  <div class="row">


    <div class="mobileView">
      <div class="col-xs-12 flex-row apcc-title-container">
        <h6 class="title-block center-xs">CATEGORIE</h6>

        <mat-radio-group (change)="changeService($event)">
          <mat-radio-button color="primary" class="example-radio-button" *ngFor="let service of services"
                            [value]="service.SrvId">
            {{service.SvrLibelle}}
          </mat-radio-button>
        </mat-radio-group>

      </div>
      <div class="col-xs-12 crea911-default-list-creatif">
        <app-item-creatif-default *ngFor="let creatif of creatifsArray ; let i = index"
                                  [creatif]="creatif"></app-item-creatif-default>
      </div>
    </div>

    <div class="desktopView container">
      <div class="col-xs-12 flex-row apcc-title-container">
        <h6 class="title-block center-xs">CATEGORIE</h6>

        <mat-radio-group (change)="changeService($event)">
          <mat-radio-button color="primary" class="example-radio-button" *ngFor="let service of services"
                            [value]="service.SrvId">
            {{service.SvrLibelle}}
          </mat-radio-button>
        </mat-radio-group>

      </div>
      <div class="col-xs-10 auto-margin col-lg-10 center crea911-default-list-creatif">
        <app-item-creatif-default *ngFor="let creatif of creatifsArray ; let i = index"
                                  [creatif]="creatif"></app-item-creatif-default>
      </div>
    </div>
  </div>
</div>
