<!-- CONTENT -->
<div class="crea-page-container" style="flex-direction: column; min-height:100vh;">
  <simple-notifications [options]="options"></simple-notifications>

  <div class="closeBtn" (click)="returnPage()">
    <div class="outer">
      <div class="inner">
        <label>Fermer</label>
      </div>
    </div>
  </div>

  <div class="row no-margin flex-column">
    <div class="center-xs col-xs-12 flex-row flex-row">
      <mat-icon class="logo" svgIcon="logo_blue_crea"></mat-icon>
    </div>
    <div>
      <div class="row around-xs padding-1">
        <div class="row around-xs flex-start-item">
          <div class="row between-xs col-xs-6 col-boxed infos-compte-box ">
            <h4 class="title-page uppercase">Inscription</h4>

            <h6 class="title-page">Inscrivez-vous avec votre adresse email</h6>
            <div class="col-xs-12 padding-xs-top-2">
              <form [formGroup]="infosCreatifForm" (ngSubmit)="createCompte()" class="col-xs-12 marge-corps-form1">
                <div class="row between-xs">
                  <div class="col-xs-12">
                    <label>Pseudo
                      <b class="error-input" *ngIf="errors">{{errors.pseudo ? errors.pseudo[0] : ""}}</b>
                    </label>
                    <input type="text" class="form-control" placeholder="Pseudo" formControlName="pseudo">
                  </div>
                </div>
                <div class="row between-xs">
                  <div class="col-xs-12">
                    <label>E-mail
                      <b class="error-input" *ngIf="errors">{{errors.email ? errors.email[0] : ""}}</b>
                    </label>
                    <input [attr.disabled]="email?'':null" type="email" class="form-control" placeholder="E-mail" formControlName="email">
                  </div>
                </div>
                <div class="row between-xs">
                  <div class="col-xs-12">
                    <label>Mot de passe
                      <b class="error-input" *ngIf="errors">{{errors.password ? errors.password[0] : ""}}</b>
                    </label>
                    <input type="password" class="form-control" placeholder="mot de passe" formControlName="password">
                  </div>
                </div>
                <div class="row between-xs">
                  <div class="col-xs-12">
                    <label>Confirmer mot de passe
                      <b class="error-input" *ngIf="errors">{{errors.confirm_password ? errors.confirm_password[0] : ""}}</b>
                    </label>
                    <input type="password" class="form-control" placeholder="confirmation du mot de passe" formControlName="confirm_password">
                  </div>
                </div>

                <div class="row between-xs">
                  <div class="col-xs-3">
                    <label>Genre
                      <b class="error-input" *ngIf="errors">{{errors.sexe ? errors.sexe[0] : ""}}</b>
                    </label>
                    <select formControlName="sexe">
                      <option value="1">Homme</option>
                      <option value="0">Femme</option>
                    </select>
                  </div>
                  <div class="col-xs-9">
                    <label>Nom
                      <b class="error-input" *ngIf="errors">{{errors.nom ? errors.nom[0] : ""}}</b>
                    </label>
                    <input type="text" class="form-control" placeholder="Nom" formControlName="nom">
                  </div>
                </div>

                <div class="row between-xs">
                  <div class="col-xs-12">
                    <label>Prénoms
                      <b class="error-input" *ngIf="errors">{{errors.prenoms ? errors.prenoms[0] : ""}}</b>
                    </label>
                    <input type="text" class="form-control" placeholder="Prénoms" formControlName="prenoms">
                  </div>
                </div>

                <div class="row between-xs">
                  <div class="col-xs-12">
                    <label>Contact  ( Exemple : (225)58459999 )
                      <b class="error-input" *ngIf="errors">{{errors.phone ? errors.phone[0] : ""}}</b>
                    </label>
                    <input type="tel"  [textMask]="{mask: mask}" class="form-control" placeholder="Téléphone portable" formControlName="phone">
                  </div>
                </div>

                <div class="row between-xs  col-xs-12">
                  <b class="error-input" *ngIf="errors">{{errors.type ? errors.type[0] : ""}}</b>
                  <mat-radio-group formControlName="type">
                    <mat-radio-button color="primary" value="1">Je suis client</mat-radio-button>
                    <mat-radio-button color="primary" value="0">Je suis créatif</mat-radio-button>
                  </mat-radio-group>
                </div>

                <div class="row col-xs-12">


                </div>
                <div class="row between-xs col-xs-12">

                  <span class="span-partage">Partagez les données sur mon inscription avec les fournisseurs de contenu de Crea911 à des fins de marketing.
                    Notez que vos données peuvent être transférées vers des pays en dehors de l'Espace économique de votre
                    pays, comme précisé dans notre Politique de confidentialité. </span>
                </div>

                <div class="col-xs-12 center-xs flex-column">

                  <span class="span-conditions">En cliquant sur S'inscrire, vous acceptez les Conditions d'utilisation et la Politique de confidentialité
                    de Crea911</span>
                  <!-- [disabled]="!infosCreatifForm.valid" La nouvelle classe btn-edit provient du fichier styles.css-->
                  <button [disabled]="!infosCreatifForm.valid" type="submit" class="crea-btn-default">S'INSCRIRE</button>
                </div>
              </form>

            </div>
          </div>

        </div>

      </div>

    </div>
  </div>

</div>
