<!-- MENU -->
<app-top-menu></app-top-menu>
<!-- FIN MENU -->

<!-- column -->
<div class="desktopView">
  <div class="crea911-top-cover">
    <!-- group -->

    <div class="top-cover-title">
      <div class="top-cover-title-part1">
        <!-- content -->
        <h1> WEB &amp; DIGITAL</h1>
      </div>
      <div class="top-cover-title-part2">
        <!-- content -->
        <p>Il est temps de passer en Ligne!</p>
        <p>&nbsp;</p>

        <button class="crea-btn-default" (click)="iamClient()">J'ai un projet</button>

      </div>
    </div>

    <div class="flex-row barre-bottom-row center-xs">
      <div class="flex-row container-barre container">
        <!-- group -->
        <div class="flex-row">
          <!-- svg -->
          <img class="svg" src="assets/images/icons/svg_colle_8833_x_84.svg" alt=""/>
          <div class="">
            <!-- content -->
            <h3>LANCEZ UN PROJET</h3>
            <p>Notre équipe vous assistera sur les structures de site internet appropriée</p>
          </div>
        </div>

        <div class="flex-row">

          <!-- svg -->
          <img class="svg" src="assets/images/icons/svg_colle_85031_x_88.svg" alt=""/>
          <div>
            <!-- content -->
            <h3>RECEVEZ UNE MULTITUDES DE CRÉATIONS</h3>
            <p>Profitez de la créativité et de la diversité culturelle des webdeigners de notre communauté de
              créatifs.</p>
          </div>
        </div>

        <div class="flex-row">
          <!-- svg -->
          <img class="svg" src="assets/images/icons/svg_colle_78099_x_70.svg" alt=""/>
          <div>
            <!-- content -->
            <h3>LA CRÉATION DE VOTRE SITE INTERNET</h3>
            <p>Notre équipe technique supervise et encardre à toutes les étapes de la maquette choisie.</p>
          </div>
        </div>

      </div>

    </div>
  </div>
  <!-- CONTENT -->
  <div class="crea-page-container padding-lat container">

    <div>

      <div>
        <!-- content -->
        <h4 class="litle-title">Avoir un site visuellement attractif, c’est bien ! Mais un site conçu pour convertir les
          visiteurs en clients, c'est
          encore mieux !</h4>
      </div>
      <div class="flex-row between-xs text-justify container" id="text-pu800">
        <!-- group -->
        <div class="">
          <!-- content -->
          <p>Ne pas prendre en compte les interactions des utilisateurs est l'accident majeur à éviter. De ce fait, l’un
            de nos
            objectifs lorsque vous nous confiez un projet réside dans l’optimisation de l’expérience utilisateur.</p>

          <p>Toutes vos demandes de web design et de développement de sites web (institutionnels, e-commerce...)
            commencent par
            l’élaboration d’un template (arborescence de votre site), qui permettra de visualiser l’emplacement des
            principaux
            éléments afin de guider les créatifs. Ce travail peut être encader par notre Directeur Artistique. Ensuite
            nos
            chefs de projets se chargeront de le publier à notre unité créative sous forme de compétition. </p>

        </div>
        <div class="">
          <!-- content -->
          <p>Selon la confidentialité et l’urgence de votre alerte, Crea911 se charge de vous dédier en amont, une
            équipe composée
            d’un Chef de projet, de deux à trois créatifs de notre communauté et d’un Directeur Artistique pour y
            travailler.
            Ainsi vous recevrez dans un délai prédéfini, plusieurs propositions créatives de pages web pour votre futur
            site
            internet. </p>

          <p>Parce que mille cerveaux valent mieux qu’un, Crea911 maîtrise parfaitement tous les leviers du marketing
            digital
            (référencement, médias sociaux et community management, newsletters) pour accompagner votre entreprise dans
            sa
            transformation digitale. </p>
        </div>
      </div>
    </div>
  </div>
  <!-- FIN CONTENT -->
  <div class=" margin-top-6 row-carousel bg-grey">
    <!-- group -->
    <div class="browser_width ">
      <div>
        <!-- column -->
        <div>
          <div class="row around-xs no-margin-lat">
            <h2 class="crea-session-title uppercase">NOS EXEMPLES DE WEBDESIGN</h2>
          </div>
          <div class="carousel-container container">
            <ngx-carousel [inputs]="carouselOne" (carouselLoad)="myfunc($event)">
              <ngx-item NgxCarouselItem *ngFor="let item of itemsCreas">
                <app-item-creation-default [creation]="item"></app-item-creation-default>
              </ngx-item>
              <button NgxCarouselPrev class='leftRs leftRs-5'>&lt;</button>
              <button NgxCarouselNext class='rightRs rightRs-5'>&gt;</button>
            </ngx-carousel>

          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- FOOTER -->
</div>

<div class="mobileView">
  <img src="/assets/images/web_digital_cover.jpg" class="img-responsive img-mobile" alt="">
  <div class="row center-xs">
    <h1> WEB &amp; DIGITAL</h1>
    <p>Il est temps de passer en Ligne!</p>
    <p>&nbsp;</p>
  </div>
  <div class="flex-row  margin-top-6">
    <div class="col-xs-4">
      <img class="svg svg-size" src="assets/images/icons/svg_colle_8833_x_84.svg" alt=""/>
      <h3>LANCEZ UN PROJET</h3>
    </div>
    <div class="col-xs-4">
      <!-- svg -->
      <img class="svg svg-size" src="assets/images/icons/svg_colle_85031_x_88.svg" alt=""/>
      <h3>RECEVEZ UNE MULTITUDES DE CRÉATIONS</h3>

    </div>
    <div class="col-xs-4">
      <!-- svg -->
      <img class="svg svg-size" src="assets/images/icons/svg_colle_78099_x_70.svg" alt=""/>
      <h3>CHOISISSEZ LA CRÉATION IDÉALE</h3>

    </div>
    <div class="flex-row ">
      <!-- group -->
      <div class="flex-row">
        <!-- svg -->

      </div>

      <div class="flex-row">


      </div>

      <div class="flex-row">

      </div>

    </div>

  </div>
  <!-- CONTENT -->
  <div class="crea-page-container padding-lat container">

    <div>

      <div>
        <!-- content -->
        <h4 class="litle-title">Avoir un site visuellement attractif, c’est bien ! Mais un site conçu pour convertir les
          visiteurs en clients, c'est
          encore mieux !</h4>
      </div>
      <div class="flex-row between-xs text-justify container" id="text-pu800">
        <!-- group -->
        <div class="">
          <!-- content -->
          <p>Ne pas prendre en compte les interactions des utilisateurs est l'accident majeur à éviter. De ce fait, l’un
            de nos
            objectifs lorsque vous nous confiez un projet réside dans l’optimisation de l’expérience utilisateur.</p>

          <p>Toutes vos demandes de web design et de développement de sites web (institutionnels, e-commerce...)
            commencent par
            l’élaboration d’un template (arborescence de votre site), qui permettra de visualiser l’emplacement des
            principaux
            éléments afin de guider les créatifs. Ce travail peut être encader par notre Directeur Artistique. Ensuite
            nos
            chefs de projets se chargeront de le publier à notre unité créative sous forme de compétition. </p>

        </div>
        <div class="">
          <!-- content -->
          <p>Selon la confidentialité et l’urgence de votre alerte, Crea911 se charge de vous dédier en amont, une
            équipe composée
            d’un Chef de projet, de deux à trois créatifs de notre communauté et d’un Directeur Artistique pour y
            travailler.
            Ainsi vous recevrez dans un délai prédéfini, plusieurs propositions créatives de pages web pour votre futur
            site
            internet. </p>

          <p>Parce que mille cerveaux valent mieux qu’un, Crea911 maîtrise parfaitement tous les leviers du marketing
            digital
            (référencement, médias sociaux et community management, newsletters) pour accompagner votre entreprise dans
            sa
            transformation digitale. </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row center-xs margin-top-6">
    <button class="crea-btn-default" (click)="iamClient()">J'ai un projet</button>
  </div>
  <!-- FIN CONTENT -->
  <div class=" margin-top-6 row-carousel bg-grey">
    <!-- group -->
    <div class="browser_width ">
      <div>
        <!-- column -->
        <div>
          <div class="row around-xs no-margin-lat">
            <h2 class="crea-session-title uppercase">NOS EXEMPLES DE WEB DESIGN</h2>
          </div>
          <div class="row center-xs">
            <div class="carousel-container  col-xs-8">
              <ngx-carousel [inputs]="carouselOne" (carouselLoad)="myfunc($event)">
                <ngx-item NgxCarouselItem *ngFor="let item of itemsCreas">
                  <app-item-creation-default [creation]="item"></app-item-creation-default>
                </ngx-item>
                <button NgxCarouselPrev class='leftRs leftRs-5'>&lt;</button>
                <button NgxCarouselNext class='rightRs rightRs-5'>&gt;</button>
              </ngx-carousel>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- FOOTER -->
</div>

<app-footer></app-footer>
<!-- FIN FOOTER -->
