<div class="crea-login-container">

  <div class="closeBtn" (click)="returnPage()">
    <div class="outer">
      <div class="inner">
        <label>Fermer</label>
      </div>
    </div>
  </div>
  <div class="row around-xs">
    <h2 class="crea-session-title">Mot de passe oublié</h2>
  </div>
  <div class="row center-xs">
    <div class="col-xs-10 form-container">
      <form [formGroup]="forgetPassForm" (ngSubmit)="onFormSubmit()">
        <div>
          <label for="">E-mail
            <b class="error-input" *ngIf="errors">{{errors.email ? errors.email[0] : ""}}</b>
          </label>
          <input suggested="username" type="email" placeholder="E-mail" formControlName="email">
        </div>
        <div class="row between-xs row-btn-connect">
          <button [disabled]="!forgetPassForm.valid" style="flex:1;" class="crea-btn-default" type="submit">Envoyer</button>
        </div>
      </form>
     
    </div>
  </div>
</div>
