<div class="row center-xs no-margin flex-column">
    <!--  -->
    <div class="row around-xs">
      <h2 class="crea-session-title uppercase">Offres d'emplois</h2>
    </div>

    <div class="col-xs-10 flex-column margin-top-6">
        
          <div class="row center-xs crea911-nos-creations">
        
            <div class="col-xs-9">
              <div class="row round-xs">
        
                <!-- left block-->
                <div class="col-xs-3">
                  <div class="row">
                    <h6 class="title-block">CATEGORIE</h6>
        
                    <div class="crea911-divider"></div>
                    <mat-radio-group>
                      <mat-radio-button color="primary" value="2">IDENTITE VISUEL</mat-radio-button>
                      <mat-radio-button color="primary" value="3">PRINT & PUBLICITE</mat-radio-button>
                      <mat-radio-button color="primary" value="4">WEB</mat-radio-button>
                      <mat-radio-button color="primary" value="5">DESIGN D'ESPACE</mat-radio-button>
                      <mat-radio-button color="primary" value="6">MOTION DESIGN</mat-radio-button>
                    </mat-radio-group>
        
                  </div>
                </div>
        
                <!-- rigth block -->
                <div class="col-xs-9 ">

                </div>
        
              </div>
            </div>
          </div>
    </div>
</div>
