<!-- MENU -->
<app-top-menu></app-top-menu>
<!-- FIN MENU -->

<!-- column -->
<div class="desktopView">
  <div class="crea911-top-cover">
    <!-- group -->

    <div class="top-cover-title">
      <div class="top-cover-title-part1">
        <!-- content -->
        <h1>DESIGN D’ESPACE</h1>
      </div>
      <div class="top-cover-title-part2">
        <!-- content -->
        <p>Le design est l’ambassadeur silencieux de votre marque</p>
        <br>
        <button class="crea-btn-default" (click)="iamClient()">J'ai un projet</button>

      </div>
    </div>

    <div class="flex-row barre-bottom-row center-xs">
      <div class="flex-row container-barre container">
        <!-- group -->
        <div class="flex-row">
          <!-- svg -->
          <img class="svg" src="assets/images/icons/svg_colle_8833_x_84.svg" alt="" />
          <div class="">
            <!-- content -->
            <h3>LANCEZ UN PROJET</h3>
            <p>Définissez votre besoin, regroupez toutes les informations techniques.</p>
          </div>
        </div>

        <div class="flex-row">

          <!-- svg -->
          <img class="svg" src="assets/images/icons/svg_colle_85031_x_88.svg" alt="" />
          <div>
            <!-- content -->
            <h3>RECEVEZ UN DEVIS</h3>
            <p>Une équipe technique spécialisée en designe d’espace et mobilier vous est dédiée.</p>
          </div>
        </div>

        <div class="flex-row">
          <!-- svg -->
          <img class="svg" src="assets/images/icons/svg_colle_78099_x_70.svg" alt="" />
          <div>
            <!-- content -->
            <h3>LA CONCEPTION</h3>
            <p>Nous supervisons et encardrons à toutes les étapes de conception.</p>
          </div>
        </div>

      </div>

    </div>
  </div>
  <!-- CONTENT -->
  <div class="crea-page-container padding-lat">

    <div>

      <div>
        <!-- content -->
        <h4 class="litle-title">L’essence d’un projet, c’est l’harmonie parfaite entre l’esthétique, l’utile et le juste</h4>
      </div>
      <div class="flex-row between-xs text-justify container" id="text-pu800">
        <!-- group -->
        <div class="">
          <!-- content -->
          <p>Le design d’espace est un concept imaginatif, mais aussi un acte de terrain. Son rôle est de créer ou de transformer
            la praticité, le volume et l’esthétique d’un espace; selon sa fonctionnalité, l’ambiance souhaitée et le message
            à véhiculer. Crea911 adapte sa création à la stratégie et à la charte graphique de votre entreprise, en répondant
            à un cahier de charge. </p>
          <p>Et parce que mille cerveaux valent mieux qu’un, les designers de la communauté sélectionnés pour votre projet, collaboreront
            à la conception d’espace commercial, stands, salons, présentoir et du design mobilier.</p>
        </div>
        <div class="">
          <!-- content -->
          <p>Pour démarrer un projet Design d’espace, un concours peut être lancer à l’ensemble des Designers.</p>
          <p>Autrement, selon la sensibilité, la complexité et l’urgence de votre demande, Crea911 se charge de vous dédier en
            amont, une équipe composée d’un Chef de projet, de deux à trois designers et d’un Directeur Artistique pour y travailler
            en toute confidentialité.</p>
          <br>
          <p>Contactez-nous par téléphone aux <b>+225 58 45 99 99 / 86 03 99 11</b> ou par mail <a href="mailto:projet@crea911.net">projet@crea911.net</a> </p>
        </div>
      </div>
    </div>
  </div>
  <!-- FIN CONTENT -->

  <div class=" margin-top-6 row-carousel bg-grey">
    <!-- group -->
    <div class="browser_width ">
      <div>
        <!-- column -->
        <div>

          <div class="row around-xs no-margin-lat">
            <h2 class="crea-session-title uppercase">NOS EXEMPLES DE DESIGN STAND &amp; MOBILIER</h2>
          </div>

          <div class="carousel-container container">

            <ngx-carousel [inputs]="carouselOne" (carouselLoad)="myfunc($event)">
              <ngx-item NgxCarouselItem *ngFor="let item of itemsCreas">
                <app-item-creation-default [creation]="item"></app-item-creation-default>
              </ngx-item>
              <button NgxCarouselPrev class='leftRs leftRs-5'>&lt;</button>
              <button NgxCarouselNext class='rightRs rightRs-5'>&gt;</button>
            </ngx-carousel>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="mobileView">
  <img src="/assets/images/design_espace_cover.jpg" class="img-responsive img-mobile" alt="">
  <div class="row center-xs">
    <h1>DESIGN D’ESPACE</h1>
    <p><b>Le design est l’ambassadeur silencieux de votre marque</b>
    </p>
  </div>
  <!-- CONTENT -->
  <div class="crea-page-container padding-lat">

    <div>

      <div>
        <!-- content -->
        <h4 class="litle-title">L’essence d’un projet, c’est l’harmonie parfaite entre l’esthétique, l’utile et le juste</h4>
      </div>
      <div class="flex-row between-xs text-left container" id="text-pu800">
        <!-- group -->
        <div class="">
          <!-- content -->
          <p>Le design d’espace est un concept imaginatif, mais aussi un acte de terrain. Son rôle est de créer ou de transformer
            la praticité, le volume et l’esthétique d’un espace; selon sa fonctionnalité, l’ambiance souhaitée et le message
            à véhiculer. Crea911 adapte sa création à la stratégie et à la charte graphique de votre entreprise, en répondant
            à un cahier de charge. </p>
          <p>Et parce que mille cerveaux valent mieux qu’un, les designers de la communauté sélectionnés pour votre projet, collaboreront
            à la conception d’espace commercial, stands, salons, présentoir et du design mobilier.</p>
        </div>
        <div class="">
          <!-- content -->
          <p>Pour démarrer un projet Design d’espace, un concours peut être lancer à l’ensemble des Designers.</p>
          <p>Autrement, selon la sensibilité, la complexité et l’urgence de votre demande, Crea911 se charge de vous dédier en
            amont, une équipe composée d’un Chef de projet, de deux à trois designers et d’un Directeur Artistique pour y travailler
            en toute confidentialité.</p>
          <br>
          <p>Contactez-nous par téléphone aux <b>+225 58 45 99 99 / 86 03 99 11</b> ou par mail <a href="mailto:projet@crea911.net">projet@crea911.net</a> </p>
        </div>
      </div>
    </div>
  </div>
  <!-- FIN CONTENT -->

  <div class="row center-xs margin-top-6">
    <button class="crea-btn-default" (click)="iamClient()">J'ai un projet</button>
  </div>
</div>

<!-- FIN CONTENT -->
<div class="">
  <div class=" margin-top-6 row-carousel bg-grey">
    <!-- group -->
    <div class="browser_width ">
      <div>
        <!-- column -->
        <div>
          <div class="row around-xs no-margin-lat">
            <h2 class="crea-session-title uppercase">NOS EXEMPLES PRINTS &amp; D’AFFICHES</h2>
          </div>
          <div class="row center-xs">
            <div class="carousel-container  col-xs-8">

              <ngx-carousel [inputs]="carouselOne" (carouselLoad)="myfunc($event)">
                <ngx-item NgxCarouselItem *ngFor="let item of itemsCreas">
                  <app-item-creation-default [creation]="item"></app-item-creation-default>
                </ngx-item>
                <button NgxCarouselPrev class='leftRs leftRs-5'>&lt;</button>
                <button NgxCarouselNext class='rightRs rightRs-5'>&gt;</button>
              </ngx-carousel>

            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
<!-- FOOTER -->
<app-footer></app-footer>
<!-- FIN FOOTER -->
