<div class="crea911-bande-service-main-container" [style]="getStyle()">
  <!-- LOGO CONTAINER -->
  <div class="crea911-bande-service-logo-container">
    <img [src]="service.svrIcon" alt="" class="icon">
    
  </div>
  <!-- FIN LOGO CONTAINER -->
  <!-- DETAILS CONTAINER -->
  <div class="crea911-bande-service-details">
    <!-- TITRE DU SERVICE -->
    <h4>{{service.svrLibelle}}</h4>
    <!-- FIN TITRE SERVICE -->
    <div>
      <p class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident, ad. Ex obcaecati voluptate ut eveniet provident
        nisi cupiditate ipsum molestias expedita itaque atque voluptas repudiandae, rerum non veniam temporibus explicabo?</p>
    </div>
  </div>
  <!-- FIN DETAILS CONTAINER -->
</div>
