<!-- MENU -->
<app-top-menu></app-top-menu>
<!-- FIN MENU -->

<!-- CONTENT -->


<div class="crea-page-container flex-column desktopView">
  <div class="container">
    <div class="row flex-row bande-row">
      <div class="col-xs-5">
        <img src="assets/images/gyrophare.gif" class="img-responsive" alt="" style="max-height: 16em">
      </div>
      <div class="col-xs-7 txt">
        <h3> Votre communication visuelle est en danger ?</h3>
        <p>
          Contactez Crea911, C’est un studio de création participative qui centralise la créativité de plusieurs
          créatifs d’origine
          et de compétences diverses (graphistes, directeurs artistiques, web designers, designers ou encore
          concepteurs-rédacteurs)
          en une unité, pour répondre en toute urgence aux problématiques de communication visuelle de votre
          entreprise.
        </p>
        <h3>Fonctionnement</h3>
        <p>
          Exprimez vos besoins sur notre site web www.crea911.net par un brief.
          Nos chefs de projets se chargent de le publier à notre unité de créatifs.
          Vous recevrez dans un délai de sept (7) à quinze (15) jours voir plus, plusieurs propositions créatives
          authentiques.
          Choisissez celle qui répond le mieux à vos attentes.
          Vous pouvez aussi vous adresser directement à notre équipe, qualifier pour piloter votre projet. Elle se
          chargera de sélectionner deux ou trois créatifs de notre communauté pour y travailler en toute
          confidentialité sous
          la direction de notre directeur artistique.
        </p>
      </div>
    </div>


    <div class="row flex-row bande-row bg-grey ">

      <div class="col-xs-6 txt">

        <h3>Adhésion des créatifs à la communauté</h3>
        <p>Tous les créatifs du monde quel que soit leurs parcours peuvent adhérer à l’unité Crea911 en s’inscrivant
          gratuitement
          sur le site internet www.crea911.net. Les types de projets de Crea911 permettront aux créatifs de tester leur
          créativité,
          de gagner en compétences et surtout de se faire de l’argent. Ils seront évalués sur la qualité de leurs
          créations
          et leur professionnalisme. Chaque trimestre de nouveaux talents seront repérés pour accéder à des projets
          clients
          plus ambitieux, plus lucratifs.</p>
      </div>
      <div class="col-xs-6">
        <img src="assets/images/515004946.jpg" class="img-responsive" alt="">
      </div>
    </div>
  </div>


  <div class="container">
    <div class="row flex-row bande-row reverse-cr">
      <div class="col-xs-5">
        <img src="assets/images/422976961.jpg" class="img-responsive" alt="">
      </div>
      <div class="col-xs-7 txt">
        <h3>Commandez un design</h3>
        <p>Pour passer votre commande sur notre site www.crea911.net,
          S’inscrire GRATUITEMENT ou se connecter si l’on est déjà̀ inscrit.
          Rendez-vous sur la page d’accueil, ou sur la page ‘<b>‘PORTFOLIO’’</b>, puis cliquez sur l’icône <b>‘‘J’ai
            un projet’’</b>.
          Dans l’espace client, rendez-vous sur la page <b>‘‘MES PROJETS’’</b> ou la page <b>‘‘FACTURE’’</b>, puis
          cliquez sur le l’icône <b>‘‘Passer une commande’’</b>.
          Vous serez redirigé sur la page <b>‘‘RÉDIGER UNE COMMANDE’’</b> pour sélectionner votre (vos) besoin(s).
          Un devis sera généré́ automatiquement à savoir le montant
          à payer. Cependant, vous pouvez nous contactez au <a href="tel:+22558459999">+225 58 45 99 99</a>
          si votre projet ne figure sur la liste de nos activités. Nos chefs de projets vous accompagneront pour
          l’élaboration et la réalisation de
          votre projet à travers une prestation personnalisée. </p>

      </div>
    </div>

    <div class="row flex-row  bande-row">
      <div class="col-xs-5 txt">
        <h3 class="text-left">Travailler avec l’ensemble de la communauté des créatifs Crea911</h3>
        <p>Un projet APPEL A LA CRÉATION se déroule en 4 étapes : <br>

          1. Phase de création : le brief est ouvert à l’unité des créatifs Crea911 sous forme de compétition,
          dans le délai prédéfini. <br>
          2. Phase de validation : A l’échéance de la phase de création, vous recevrez toutes les propositions des
          créatifs dans une présentation PDF soumis à votre choix. <br>
          3. Phase de décision : Dès réception des propositions, vous avez 03 jours pour sélectionner la
          création
          qui
          répond le mieux à votre besoin. <br>

          4. Phase récupération des fichiers sources : Après sélection de la création gagnante, vous recevrez
          les
          chiers
          sources ainsi que leurs droits d’auteur. Cependant des ajustements (trois maximum) seront apportées si
          besoin
          est. <br>
        </p>
        <h3>Travailler avec une équipe de créatifs dédiée Crea911 </h3>
        <p>Pas d’inquiétude pour vos projets récurrents ou sensibles! Crea911 se charge de vous dédier une équipe
          composée d’un Chef de projet, deux à trois créatifs de son unité et d’un Directeur Artistique pour y
          travailler en toute
          confidentialité. Vous pouvez, si vous le souhaitez, participer aux choix des créatifs.</p>
      </div>
      <div class="col-xs-7">
        <img src="assets/images/ideas.svg" class="img-responsive vhPlus" alt="" style="max-height: 31em">
      </div>
    </div>

    <div class="row flex-row bande-row reverse-cr">
      <div class="col-xs-5">
        <img src="assets/images/idvisuelle.svg" class="img-responsive" alt="">
      </div>
      <div class="col-xs-7 txt">
        <h3>Facturation & moyens de paiement</h3>
        <p>Crea911 vous donne la possibilité de calculer votre devis sans engagement à la commande. Le calcul de devis
          permet
          de connaitre les tarifs de nos services proposés. <br>
          Retrouvez l’historique de vos factures à télécharger au format PDF sur la page ‘‘FACTURE’’. Trois moyens
          de
          paiement
          vous sont proposés :
        </p>
        <p>
          1. Virement bancaire : aux coordonnées indiquées sur la page de paiement.
          <br>
          2. Chèque à l’ordre de CREA911
          <br>
          3. Mobile money au numéro suivant +225 58 45 99 99

        </p>
      </div>
    </div>

  </div>


</div>

<!-- FIN CONTENT -->


<!--mobileview par innocent kacou-->
<div class="crea-page-container flex-column margin-y-1 mobileView margin-top-1">

  <div class=" bande-row">
    <div class="col-xs-5">
      <img src="assets/images/gyrophare.gif" class="img-responsive" alt="" style="max-height: 16em">
    </div>

  </div>
  <div class="col-xs-12 txt">
    <h3> Votre communication visuelle est en danger ?</h3>
    <p>
      Contactez Crea911, C’est un studio de création participative qui centralise la créativité de plusieurs
      créatifs d’origine
      et de compétences diverses (graphistes, directeurs artistiques, web designers, designers ou encore
      concepteurs-rédacteurs)
      en une unité, pour répondre en toute urgence aux problématiques de communication visuelle de votre entreprise.
    </p>

    <h3>Fonctionnement</h3>

    <p>
      Exprimez vos besoins sur notre site web www.crea911.net par un brief. <br>
      Nos chefs de projets se chargent de le publier à notre unité de créatifs. <br>
      Vous recevrez dans un délai de sept (7) à quinze (15) jours voir plus, plusieurs propositions créatives
      authentiques.

      Choisissez celle qui répond le mieux à vos attentes.
    </p>
    <p> Vous pouvez aussi vous adresser directement à notre équipe, qualifier pour piloter votre projet. Elle se
      chargera
      de sélectionner deux ou trois créatifs de notre communauté pour y travailler en toute confidentialité sous la
      direction de notre directeur artistique.
    </p>
  </div>

  <div class="bg-grey">
    <div class="col-xs-12 txt">

      <h3 class="margin-top-1">Adhésion des créatifs à la communauté</h3>
      <p>Tous les créatifs du monde quel que soit leurs parcours peuvent adhérer à l’unité Crea911 en s’inscrivant
        gratuitement
        sur le site internet www.crea911.net. Les types de projets de Crea911 permettront aux créatifs de tester leur
        créativité,
        de gagner en compétences et surtout de se faire de l’argent. Ils seront évalués sur la qualité de leurs
        créations
        et leur professionnalisme. Chaque trimestre de nouveaux talents seront repérés pour accéder à des projets
        clients
        plus ambitieux, plus lucratifs.</p>
    </div>
    <div class="col-xs-12">
      <img src="assets/images/515004946.jpg" class=" full-size" alt="">
    </div>
  </div>

  <div class="reverse-cr">

    <div class="col-xs-12 txt margin-top-1">
      <h3>Commandez un design</h3>
      <p>Pour passer votre commande sur notre site www.crea911.net, </p>

      <p>
        S’inscrire GRATUITEMENT ou se connecter si l’on est déjà̀ inscrit.
        Rendez-vous sur la page d’accueil, ou sur la page ‘<b>‘PORTFOLIO’’</b>, puis cliquez sur l’icône <b>‘‘J’ai
        un projet’’</b>. <br>

        Dans l’espace client, rendez-vous sur la page <b>‘‘MES PROJETS’’</b> ou la page <b>‘‘FACTURE’’</b>, puis
        cliquez sur le l’icône <b>‘‘Passer une commande’’</b>. <br>

        Vous serez redirigé sur la page <b>‘‘RÉDIGER UNE COMMANDE’’</b> pour sélectionner votre (vos) besoin(s). Un
        devis sera généré́ automatiquement à savoir le montant
        à payer. <br>
        Cependant, vous pouvez nous contactez au <a href="tel:+22558459999">+225 58 45 99 99</a> / <a
        href="tel:+22586039911">+225 86 03 99 11</a> si votre projet ne figure sur la
        liste de nos activités. Nos chefs de projets vous accompagneront pour l’élaboration et la réalisation de votre
        projet à travers une prestation personnalisée.
      </p>


    </div>
    <div class="col-xs-12">
      <img src="assets/images/422976961.jpg" class="img-responsive" alt="">
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 txt margin-top-1 padding-1">
      <h3>Travailler avec l’ensemble de la communauté des créatifs Crea911</h3>
      <p>Un projet APPEL A LA CRÉATION se déroule en 4 étapes :</p>

      <p>
        1. Phase de création : le brief est ouvert à l’unité des créatifs Crea911 sous forme de compétition,
        dans le délai prédéfini.
        <br>
        2. Phase de validation : A l’échéance de la phase de création, vous recevrez toutes les propositions des
        créatifs dans une présentation PDF soumis à votre choix.
        <br>
        3. Phase de décision : Dès réception des propositions, vous avez 03 jours pour sélectionner la création
        qui répond le mieux à votre besoin.
        <br>
        4. Phase récupération des fichiers sources : Après sélection de la création gagnante, vous recevrez les
        chiers
        sources ainsi que leurs droits d’auteur. Cependant des ajustements (trois maximum) seront apportées si besoin
        est.
        <br>

      </p>
      <h3 class="margin-top-1">Travailler avec une équipe de créatifs dédiée Crea911 </h3>
      <p>Pas d’inquiétude pour vos projets récurrents ou sensibles! Crea911 se charge de vous dédier une équipe com-
        posée
        d’un Chef de projet, deux à trois créatifs de son unité et d’un Directeur Artistique pour y travailler en
        toute
        confidentialité. Vous pouvez, si vous le souhaitez, participer aux choix des créatifs.</p>
    </div>
    <div class="col-xs-12">
      <img src="assets/images/ideas.svg" class="full-size padding-1" alt="">
    </div>
  </div>

  <div class=" flex-row reverse-cr">
    <div class="col-xs-5">
      <img src="assets/images/idvisuelle.svg" class="full-size " alt="">
    </div>
    <div class="col-xs-12 txt">
      <h3>Facturation & moyens de paiement</h3>
      <p>Crea911 vous donne la possibilité de calculer votre devis sans engagement à la commande. Le calcul de devis
        permet
        de connaitre les tarifs de nos services proposés.</p>
      <p> Retrouvez l’historique de vos factures à télécharger au format PDF sur la page ‘‘FACTURE’’. Trois moyens de
        paiement
        vous sont proposés :</p>


      <p>
        1. Virement bancaire : aux coordonnées indiquées sur la page de paiement.
        <br>
        2. Chèque à l’ordre de CREA911
        <br>
        3. Mobile money au numéro suivant : <br>
        <span><h3>+225 58 45 99 99</h3></span>
      </p>


    </div>
  </div>


</div>
<!-- FOOTER -->

<app-footer></app-footer>
<!-- FIN FOOTER -->


