<div class="crea-login-container">

  <div class="closeBtn" (click)="returnPage()">
    <div class="outer">
      <div class="inner">
        <label>Fermer</label>
      </div>
    </div>
  </div>
  <div class="row around-xs">
    <h2 class="crea-session-title">Réinitialisation de votre mot de passe</h2>
  </div>
  <div class="row center-xs">
    <div class="col-xs-10 form-container">
        <img class="avatar-rounded" [src]="avatar" alt="">
      <form [formGroup]="ReinitPassForm" (ngSubmit)="onFormSubmit()">
        <div>
          <label for="">Nouveau mot de passe
            <b class="error-input" *ngIf="errors">{{errors.password ? errors.password[0] : ""}}</b>
          </label>
          <input type="password" placeholder="Nouveau mot de passe" formControlName="password">
        </div>
        <div>
          <label for="">Confirmation mot de passe
            <b class="error-input" *ngIf="errors">{{errors.c_password ? errors.c_password[0] : ""}}</b>
          </label>
          <input type="password" placeholder="Confirmation nouveau mot de passe" formControlName="c_password">
        </div>
        <div class="row between-xs row-btn-connect">
          <button [disabled]="!ReinitPassForm.valid" style="flex:1;" class="crea-btn-default" type="submit">Envoyer</button>
        </div>
      </form>
     
    </div>
  </div>
</div>
